In [74]:
import pandas as pd
import numpy as np
import geopandas as gpd

# checking market price and location data with gaul

In [2]:
df = pd.read_csv('match_price_loc.csv')

In [3]:
df.rename(columns = {'admin2':'adm2_name' }, inplace= True)
df['adm2_name']

0          Hydra
1          Hydra
2          Hydra
3          Hydra
4          Hydra
           ...
942259    Kalabo
942260    Kalabo
942261    Kalabo
942262    Kalabo
942263    Kalabo
Name: adm2_name, Length: 942264, dtype: object

In [4]:
country_price = df.adm0_name.unique()

In [75]:
df2 = gpd.read_file('gaul2015-2014_adm2.shp')

In [76]:
df2.head()

,adm2_code,adm2_name,str2_year,exp2_year,adm1_code,adm1_name,status,disp_area,adm0_code,adm0_name,shape_leng,shape_area,FID,geometry
0,40621.0,Ryansoro,NaN,None,40548.0,Gitega,Member State,NO,43.0,Burundi,0.754714,0.013313,0,"POLYGON ((29.79610 -3.62670, 29.79520 -3.63290..."
1,40667.0,Ndava,NaN,None,40555.0,Mwaro,Member State,NO,43.0,Burundi,0.721689,0.013685,1,"POLYGON ((29.82560 -3.36660, 29.82510 -3.36980..."
2,40593.0,Buyengero,NaN,None,40545.0,Bururi,Member State,NO,43.0,Burundi,0.744050,0.016753,2,"POLYGON ((29.60730 -3.78270, 29.60390 -3.78900..."
3,40580.0,Bugarama,2004.0,None,40544.0,Bujumbura Rural,Member State,NO,43.0,Burundi,0.622149,0.010563,3,"POLYGON ((29.49640 -3.66300, 29.49790 -3.66420..."
4,40590.0,Administrative unit not available,NaN,None,40545.0,Bururi,Member State,NO,43.0,Burundi,1.383936,0.062333,4,"POLYGON ((29.53690 -4.19130, 29.53700 -4.19170..."

In [77]:
u = pd.DataFrame(df['adm0_name'])
u1 = pd.DataFrame(df2['adm0_name'])

u2 = pd.DataFrame(df['adm1_name'])
u3 = pd.DataFrame(df2['adm1_name'])

In [78]:
u7 = pd.DataFrame(df['adm2_name'])
u8 = pd.DataFrame(df2['adm2_name'])

In [79]:
dff = u.merge(u1, how = 'outer' ,indicator=True).loc[lambda x : x['_merge']=='left_only']

dff.adm0_name.unique()

array([], dtype=object)

In [10]:
dff2 = u2.merge(u3, how = 'outer' ,indicator=True).loc[lambda x : x['_merge']=='left_only']

dff2.adm1_name.unique()

array([nan, 'Extreme - Nord', 'Bolama', 'North Kordofan', 'North Darfur',
       'Gedaref', 'South Kordofan', 'South Darfur', 'West Kordofan',
       'West Darfur'], dtype=object)

In [ ]:
#South Darfur is as Southern Dafur in the Gaul
#Baloma is as Bolama/bijagos in the gaul
#North Kordofan is as a Northern Kordofan in Gaul
#North Darfur is as a Northern  Darfur in gaul
#South Darfur is as a Southern Darfur in gaul
#West Kordofan is as a Western Kordofan in gaul
#West Darfur is as an Western Darfur in gaul

In [37]:
dff3 = u7.merge(u8, how = 'outer' ,indicator=True).loc[lambda x : x['_merge']=='left_only']

r = dff3.adm2_name.unique()
s = df2.adm2_name.unique()
ss = df2.adm1_name.unique()
s = pd.Series(s)
ss = pd.Series(ss)

In [12]:
len(r)

322

In [13]:
s = s[s.str.contains('|'.join(map(str, r)))]

C:\Users\ASUS\AppData\Local\Temp\ipykernel_8316\2526575702.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  s = s[s.str.contains('|'.join(map(str, r)))]

In [ ]:
#the reslt shows that among 322 differences, 259 of them are the same and juts different in writing

# Checking GED data withgaul

In [120]:
df_GED = pd.read_csv('GED_monthly_agg.csv')

In [121]:

df_GED.rename(columns = {'Unnamed: 0':'year', 'Unnamed: 1' :'month', 'Unnamed: 2': 'country', 'Unnamed: 3': 'adm1_name', 'Unnamed: 4': 'adm2_name' }, inplace= True)
df_GED.drop([0,1], axis=0, inplace=True)

In [128]:
rr = df_GED.adm1_name.unique()
rr2 = df_GED.adm2_name.unique()

In [127]:
df_GED.rename(columns = {'adm_1':'adm1_name', 'adm_2' :'adm2_name', 'country' :'adm0_name'  }, inplace= True)

df_GED

,year,month,adm0_name,adm1_name,adm2_name,best
2,1989,01,Angola,Benguela province,Ganda municipality,1
3,1989,01,Angola,Cabinda province,Belize municipality,0
4,1989,01,Angola,Cuanza Norte province,Samba Cajú municipality,0
5,1989,01,Angola,Huila province,Matala municipality,0
6,1989,01,Angola,Lunda Norte province,Cambulo municipality,0
...,...,...,...,...,...,...
20576,2021,12,Sudan,South Kordofan state,Rashad district,1
20577,2021,12,Sudan,West Darfur state,Jebel Moon district,25
20578,2021,12,Sudan,West Darfur state,Kereinik district,102
20579,2021,12,Sudan,West Darfur state,Sirba district,8
20580,2021,12,Tanzania,Mtwara region,Mtwara Rural district,11

In [129]:
df_GED['adm1_name'] = df_GED['adm1_name'].str.replace("province", "")
df_GED['adm1_name'] = df_GED['adm1_name'].str.replace("region", "")
df_GED['adm1_name'] = df_GED['adm1_name'].str.replace("district", "")
df_GED['adm1_name'] = df_GED['adm1_name'].str.replace("county", "")
df_GED['adm1_name'] = df_GED['adm1_name'].str.replace("municipality", "")
df_GED['adm1_name'] = df_GED['adm1_name'].str.replace("zone", "")
df_GED['adm1_name'] = df_GED['adm1_name'].str.replace("constituency", "")
df_GED['adm1_name'] = df_GED['adm1_name'].str.replace("department", "")
df_GED['adm1_name'] = df_GED['adm1_name'].str.replace("municipal", "")
df_GED['adm1_name'] = df_GED['adm1_name'].str.replace("administrative district", "")
df_GED['adm1_name'] = df_GED['adm1_name'].str.replace(" ", "")

df_GED['adm2_name'] = df_GED['adm2_name'].str.replace("province", "")
df_GED['adm2_name'] = df_GED['adm2_name'].str.replace("region", "")
df_GED['adm2_name'] = df_GED['adm2_name'].str.replace("district", "")
df_GED['adm2_name'] = df_GED['adm2_name'].str.replace("county", "")
df_GED['adm2_name'] = df_GED['adm2_name'].str.replace("municipality", "")
df_GED['adm2_name'] = df_GED['adm2_name'].str.replace("zone", "")
df_GED['adm2_name'] = df_GED['adm2_name'].str.replace("constituency", "")
df_GED['adm2_name'] = df_GED['adm2_name'].str.replace("department", "")
df_GED['adm2_name'] = df_GED['adm2_name'].str.replace("municipal", "")
df_GED['adm2_name'] = df_GED['adm2_name'].str.replace("administrative district", "")
df_GED['adm2_name'] = df_GED['adm2_name'].str.replace(" ", "")

In [136]:
r1= pd.DataFrame(df_GED['adm0_name'])


r2 = pd.DataFrame(df_GED['adm1_name'])
r3 = pd.DataFrame(df_GED['adm2_name'])

In [152]:
dff_GED = r1.merge(u1, how = 'outer' ,indicator=True).loc[lambda x : x['_merge']=='left_only']

dff_GED.adm0_name.unique()

array(['DR Congo (Zaire)', 'Kingdom of eSwatini (Swaziland)',
       'Zimbabwe (Rhodesia)', 'Ivory Coast', 'Tanzania',
       'Madagascar (Malagasy)'], dtype=object)

In [ ]:
#all of them are available in gaul with different names than can be replaced

In [31]:


dff_GED_1 = r2.merge(u3, how = 'outer' ,indicator=True).loc[lambda x : x['_merge']=='left_only']

dff_GED_1.adm1_name.unique()

#names of adm1 from GED that are not available in gaul or different in writing

array(['CuanzaNorte', 'LundaNorte', 'LundaSul', 'RiftValley',
       'CuandoCubango', 'Shaba', 'Eritrea', 'Natal', 'CuanzaSul',
       'Zambézia', 'DakhletNouadhibou', 'Saint-Louis', 'WoqooyiGalbeed',
       'Hararghe', 'LowerJuba', 'LowerShabelle', 'CaboDelgado',
       'Banaadir', 'Wollo', 'GrandeComore', 'Cape', 'Welega',
       'GrandGedeh', 'Kordofan', 'UpperNile', 'Borkou-Ennedi-Tibesti',
       'Begemder', 'Shewa', 'GrandBassa', 'Guidimaka', 'North-West',
       'RiverCess', 'GrandCapeMount', 'Sud-Ouest', 'Riversstate',
       'Byumbaprefecture', 'Gisenyiprefecture', 'Kigaliprefecture',
       'Hiran', 'MashonalandCentral', 'BasZaïre', 'Ruhengeriprefecture',
       'Kordofanstate', 'UpperNilestate', 'Chari-Baguirmi',
       'Equatoriastate', 'KasaïOriental', 'Bauchistate',
       'BahralGhazalstate', 'Amadaoua', 'Tarabastate', 'ElOued',
       'BujumburaMairie', 'BujumburaRural', 'Algiers', 'Tillabéri',
       'FarNorth', 'Khartoumstate', 'DaresSalaam', 'AkwaIbomstate',
       'Kadunastate', 'Kigali-Ruralprefecture', 'Sidamo', 'AinDefla',
       'Kibuyeprefecture', 'Transvaal', 'SidibelAbbès', 'LogoneOriental',
       'ElBayadh', 'Tébessa', 'Moyen-Chari', 'NordKivu',
       'BordjBouArreridj', 'OumElBouaghi', 'Northwestern', 'TiziOuzou',
       'KasaïOccidental', 'MiddleJuba', 'AinTémouchent', 'RiverGee',
       'GrandKru', 'Plateaustate', 'Butareprefecture',
       'Cyanguguprefecture', 'Gikongoroprefecture', 'Gitaramaprefecture',
       'Kibungoprefecture', 'SouthernKordofanstate', 'Lagosstate',
       'LogoneOccidental', 'WesternCape', 'Oromiyastate', 'SudKivu',
       'Somalistate', 'MiddleShabelle', 'EasternEquatoriastate',
       'MashonalandWest', 'Bahr-al-Jabalstate', 'South-West',
       'Gash-Setit', 'Deltastate', 'SouthernDarfurstate',
       'WesternDarfurstate', 'Haut-Zaïre', 'Galgudud', 'Mayo-Kebbi',
       'Gambellastate', 'SNNPstate', 'WestKordofanstate', 'Équateur',
       'Osunstate', 'Bayelsastate', 'Bujumbura', 'Oyostate',
       'Kinshasacity', 'Gash-Barka', 'Tigraystate',
       'SectorAutonomodeBissau', 'Ondostate', 'BasCongo', 'NorthEastern',
       'Thaba-Tseka', 'Benuestate', 'Enugustate', 'Lakesstate',
       'Unitystate', 'Anambrastate', 'Ituri', 'Ogunstate', 'Kibale',
       "N'Djamena", 'Haut-Sassandra', 'Abiastate', 'ElTarf',
       'NorthernRedSea', 'Afarstate', 'ValléeduBandama', 'Gombestate',
       'Okavango', 'BathaOuest', 'UpperEast', 'Imostate',
       'NorthernBahr-al-Ghazalstate', 'PembaNorth', 'PembaSouth',
       'ZanzibarUrban/West', 'Moyen-Cavally', 'Nasarawastate',
       'Zamfarastate', 'WesternBahr-al-Ghazal\xa0state', 'Amharastate',
       'Antananarivo', 'Antsiranana', 'Fianarantsoa', 'Mahajanga',
       'Medeninegovernorate', 'Fromager', 'Kwarastate', 'Jongleistate',
       "N'zi-Comoé", "Ombella-M'Poko", 'Dix-HuitMontagnes', 'Ouham-Pendé',
       'Bas-Sassandra', 'Adamawastate', 'CrossRiverstate', 'Kanostate',
       'Ebonyistate', 'Edostate', 'Kogistate', 'Sokotostate',
       'NorthernDarfurstate', 'GrandCasablanca', 'Bornostate',
       'Yobestate', 'Ekitistate', 'WadiFira', 'Kebbistate', 'Marahoue',
       'RedSeastate', 'Westerndivision', 'CentralEquatoriastate',
       'WesternEquatoriastate', 'Nigerstate', "VilledeN'Djamena", 'Labé',
       'Nana-Grébizi', 'Benishangul-Gumuzstate', 'SouthernRedSea',
       'MashonalandEast', 'TirisZemmour', 'Atsimo-Andrefana',
       'Hararistate', 'Warrapstate', 'Sédhiou',
       'WesternBahr-al-Ghazalstate', 'Sud-Bandama', 'HodhechChargui',
       'NorthernKordofanstate', 'Jigawastate', 'Katsinastate',
       'FederalCapitalterritory', 'Silianagovernorate', 'BlueNilestate',
       'WestBahr-al-Ghazalstate', 'Kebiligovernorate', 'Warapstate',
       'Sfaxgovernorate', 'NorthBahr-al-Ghazalstate', 'WestCoastdivision',
       'CentralDarfurstate', 'Gezirastate', 'Kassérinegovernorate',
       'Kisumu', 'Mambéré-Kadéi', 'EastDarfurstate', 'Garissa', 'Mandera',
       'SouthKordofanstate', 'Mombasa', 'Wajir', 'Marsabit', 'Kigalicity',
       'SouthDarfurstate', 'Samburu', 'WestPokot', 'NorthDarfurstate',
       'SidiBouZidgovernorate', 'Turkana', 'WestEquatoriastate',
       'NorthKordofanstate', 'Jendoubagovernorate', 'Kwale',
       'Northernstate', 'WestDarfurstate', 'Baringo', 'Lamu',
       'LeKefgovernorate', 'Isiolo', 'Tunisgovernorate',
       'Soussegovernorate', 'Gafsagovernorate', 'Bas-Uélé',
       'Haut-Katanga', 'Haut-Uélé', 'Tanganyika', 'Kilifi',
       'EastEquatoriastate', 'Rumonge', 'Comoé', 'ElgeyoMarakwet',
       'EasternCape', 'TanaRiver', 'Siaya', 'Kasaï-Central', 'Kasaï',
       'Haut-Lomami', 'KongoCentral', 'Lomami', 'Ménaka', 'Lualaba',
       'Sankuru', 'Laikipia', 'HomaBay', 'BoucleduMouhoun', 'Bungoma',
       'Meru', 'Kericho', 'Narok', 'Nairobicity', 'Kiambu', 'Mai-Ndombe',
       'Kitui', 'RiverNilestate', 'WhiteNilestate', 'CentreEst',
       'CentreNord', 'Kwilu', 'Tshopo', 'Kisii', 'UasinGishu',
       'HauteMatsiatra', 'Gedarifstate', 'CentreSud', 'Sennarstate',
       'West', 'Kakamega', 'NorthernCape', 'HautsBassins', 'Nandi',
       'Kassalastate', 'Atsimo-Atsinanana', 'MatabelelandNorth',
       'ZanzibarNorth', 'ZanzibarUrbanWest', 'Batha', 'Tshuapa',
       'Guelmim-OuedNoun', 'Souss-Massa', 'Laâyoune-SakiaalHamra',
       'Dakhla-OuedEd-Dahab'], dtype=object)

In [32]:
len(dff_GED_1.adm1_name.unique())

301

In [40]:
rr1 = dff_GED_1.adm1_name.unique()

In [41]:
ss = ss[ss.str.contains('|'.join(map(str, rr1)))]
ss

3                      Bujumbura Rural
16                    Bujumbura Mairie
51                             Western
104                West/Iburengerazuba
130             Western Bahr El Ghazal
131                  Western Equatoria
337                      North-Western
343                   Mashonaland West
400                          Batha Est
401                        Batha Ouest
486                     Western Darfur
488                  Southern Kordofan
491                  Northern Kordofan
632                       Eastern Cape
635                      KwaZulu-Natal
637                         North West
638                      Northern Cape
640                       Western Cape
724                       Western Area
755                   Grand Cape Mount
775                         West Coast
785                         Upper West
815                 Sassandra-Marahoue
947                        Far Western
948                        Mid Western
952                North-West Frontier
976                        West Bengal
1008                  West Azarbayejan
1015                     North Western
1085                    Western Region
1309                      Westmoreland
1332    Providenciales and West Caicos
1642                     West Virginia
2206       Region VI (Western Visayas)
2767                   Western Finland
2792                         Westmeath
3118               Nordrhein-Westfalen
3172                         East Cape
3182                          Westland
3187                 Western Australia
dtype: object

In [42]:
len(ss)

40

In [ ]:
# it means that 40 names out of 301 different names are editiable because the difference is on writing

In [43]:
dff_GED_2 = r3.merge(u8, how = 'outer' ,indicator=True).loc[lambda x : x['_merge']=='left_only']

dff_GED_2.adm2_name.unique()
# names of the adm2 in GED that are not available in gaul

array(['SambaCajú', 'Capenda-Camulemba', 'Moxico(Luena)', ...,
       'Masasicouncil', 'Nyakach', 'SharqElNile'], dtype=object)

In [44]:
len(dff_GED_2.adm2_name.unique())

2015

In [45]:
rr22 = dff_GED_2.adm2_name.unique()

In [46]:
s = s[s.str.contains('|'.join(map(str, rr22)))]
s

C:\Users\ASUS\AppData\Local\Temp\ipykernel_8316\1022068436.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  s = s[s.str.contains('|'.join(map(str, rr22)))]

108              Mabanda
199            Region 14
200             Awi/Agew
222               Zone 2
223               Zone 3
              ...
32597             Manche
32823      Mansfield (S)
32941    Great Lakes (A)
32969          Manly (A)
33059     Manningham (C)
Length: 387, dtype: object

In [ ]:
#the result shows that among 2015 differences in adm2 level, 387 of them have a difference just in writing

# checking ACLED data with gaul data

In [153]:
df_ACLED = pd.read_csv('ACLED_monthly_agg.csv')

df_ACLED.head()

  Unnamed: 0 Unnamed: 1 Unnamed: 2   Unnamed: 3   Unnamed: 4 fatalities
0        NaN        NaN        NaN          NaN          NaN        sum
1       year      month    country       admin1       admin2        NaN
2       2000          1    Algeria        Batna        Arris         22
3       2000          1    Algeria        Chlef        Chlef          3
4       2000          1    Algeria  Constantine  Constantine          0

In [154]:

df_ACLED.rename(columns = {'Unnamed: 0':'year', 'Unnamed: 1' :'month', 'Unnamed: 2': 'adm_0', 'Unnamed: 3': 'adm1_name', 'Unnamed: 4': 'adm2_name' }, inplace= True)
df_ACLED.drop([0,1], axis=0, inplace=True)

In [155]:
df_ACLED

        year month     adm_0           adm1_name     adm2_name fatalities
2       2000     1   Algeria               Batna         Arris         22
3       2000     1   Algeria               Chlef         Chlef          3
4       2000     1   Algeria         Constantine   Constantine          0
5       2000     1   Algeria             El Tarf  Ain El Assel          8
6       2000     1   Algeria            Ghardaia     El Meniaa          1
...      ...   ...       ...                 ...           ...        ...
100334  2022     7  Zimbabwe  Matabeleland South        Matobo          0
100335  2022     7  Zimbabwe            Midlands   Gweru Urban          0
100336  2022     7  eSwatini              Hhohho  Mbabane East          0
100337  2022     7  eSwatini             Lubombo    Mpolonjeni          0
100338  2022     7  eSwatini             Manzini     Kwaluseni          0

[100337 rows x 6 columns]

In [156]:
AC_adm1 = pd.DataFrame(df_ACLED['adm1_name'])
AC_adm2 = pd.DataFrame(df_ACLED['adm2_name'])

In [157]:
u3

             adm1_name
0               Gitega
1                Mwaro
2               Bururi
3      Bujumbura Rural
4               Bururi
...                ...
37937  South Australia
37938  South Australia
37939  South Australia
37940  South Australia
37941  South Australia

[37942 rows x 1 columns]

In [162]:
df_ACLED_adm1 = AC_adm1.merge(u3, how = 'outer' ,indicator=True).loc[lambda x : x['_merge']=='left_only']

len(df_ACLED_adm1.adm1_name.unique())

215

In [ ]:
#it means that there are 215 differences in adm1 level

In [165]:
v = df_ACLED_adm1.adm1_name.unique()

#to findout which of these differences are included in gaul
ss = ss[ss.str.contains('|'.join(map(str, v)))]
len(ss)

30

In [ ]:
#it is shown that 30 out of 215 differences are included in gaul but different in writing

In [166]:
df_ACLED_adm2 = AC_adm2.merge(u8, how = 'outer' ,indicator=True).loc[lambda x : x['_merge']=='left_only']

len(df_ACLED_adm2.adm2_name.unique())

2043

In [167]:
v2 = df_ACLED_adm2.adm2_name.unique()

#to findout which of these differences are included in gaul
s = s[s.str.contains('|'.join(map(str, v2)))]
len(s)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_8316\1103193419.py:4: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  s = s[s.str.contains('|'.join(map(str, v2)))]

79

In [ ]:
# just 72 of the differences are included in gaul data